@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(222, 26%, 31%);
}

.header {
  /* border: 1px solid white; */
  width: 30vw;
  display: flex;
  padding: 10px;
  position: relative;
}

.header > h6 {
  color: white;
  font-size: 18px;
  font-weight: 700;
}

#answer-tab {
  min-height: 15vh;
  max-height: auto;
  width: 30vw;
  background-color: hsl(224, 36%, 15%);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 20px 0;
  font-size: 24px;
}

#function-tab {
  min-height: 60vh;
  max-height: auto;
  width: 30vw;
  border-radius: 20px;
  padding: 10px;
  background-color: hsl(223, 31%, 20%);
}

.btn {
  height: 45px;
  width: 70px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 24px;
  font-family: "Spartan", sans-serif;
  margin: 14px 10px;
  cursor: pointer;
  color: hsl(221, 14%, 31%);
}

.long {
  width: 160px;
}

.white {
  color: #fff;
}

.red {
  background-color: hsl(6, 63%, 50%);
}

.blue {
  background-color: hsl(225, 21%, 49%);
}

.theme-section {
  position: absolute;
  left: 0;
  height: 400px;
  width: 100px;
  /* background-color: hsl(224, 36%, 15%); */
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-end-end-radius: 10px;
  border-start-end-radius: 10px;
}

#text {
  /* color: white; */
  font-size: 14px;
  font-weight: 500;
  margin: 20px;
}

#theme1 {
  background-color: hsl(224, 36%, 15%);
}

#theme2 {
  background-color: hsl(268, 71%, 12%);
}

#theme3 {
  background-color: hsl(25, 98%, 40%);
}

.theme {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  border: none;
  margin: 20px;
  padding: 10px;
  cursor: pointer;
}

.yellow {
  color: hsl(52, 100%, 62%);
}
